*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  overflow-x: hidden;
}
.hamburger{
  display: none;
}
#hamburger{
  height: 100%;
  width: 100%;
  background-color: black;
  display: none;
}
#container{
  min-height: 100%;
  width: 100vw;
  position: relative;
  background-color: rgb(0, 0, 0);
}
#nav-section{
  height: 120px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
}
#nav-section .nav-logo img{
  width:150px;
}
.nav-list a{
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
}
.ri-menu-line{
  display: none;
}
#home{
  padding: 20px 50px;
}
#home h1{
  text-align: center;
  font-size: 5vw;
  padding: 30px 10px;
}
#home h2{
  text-align: center;
  font-size: 2vw;
  padding: 30px 10px;
}
#home p{
  text-align: center;
  padding: 0 150px;
  font-size: 15px;
  padding: 10px 10px;
}
#home h3{
  text-align: center;
  padding: 30px 10px;
  font-size: 3vw;
}
#home span{
  color: rgb(238, 32, 32);
}
#home img{
  width: 100px;
  border-radius: 20px;
}
#home .secondImg{
  width: 300px;
}
#home .project-img-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#home .project-img{
  width: 500px;
  padding: 20px 30px;
}
.img-content{
  display: flex;
  align-items: center;
  justify-content: center;
}
#about{
  min-height: 100%;
  width: 100%;
  background-color: #000000;
}
#about h1{
  text-align: center;
  font-size: 5vw;
}
#about p{
  text-align: center;
  font-size: 2vw;
  padding: 20px 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
#about span{
  color: rgb(238, 32, 32);
}
#about h2{
  text-align: center;
  font-size: 5vw;
}
#about .loading{
  width: 50px;
}
#skill-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.skill-image{
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill-image img{
  padding: 10px 20px 50px;
}
.icon{
  font-size: 10vw;
  color: rgb(255, 255, 255);
}
#project{
  min-height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
}
.check{
  width: 350px;
  height: 100px;
  font-size: 30px;
  border-radius: 20px;
  margin: 20px 20px;
  color: black;
  cursor: pointer;
  background-color: rgb(255, 39, 82);
  border: none;
}
.check:hover{
  box-shadow: 7px 10px 1px 5px;
  padding: 10px;
  background-color: rgb(160, 0, 32);
  border: none;
}
.check a{
  text-decoration: none; 
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center; 
}
.project-image-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.project-one{
  width: 370px;
  /* background-color: rgb(233, 233, 233); */
  margin: 20px 10px;
  border-radius: 20px;
}
.project-two{
  width: 370px;
  /* background-color: rgb(233, 233, 233); */
  margin: 20px 10px;
  border-radius: 20px;
}
.project-three{
  width: 370px;
  /* background-color: rgb(233, 233, 233); */
  margin: 20px 10px;
  border-radius: 20px;
}
.project-four{
  width: 370px;
  /* background-color: rgb(233, 233, 233); */
  margin: 20px 10px;
  border-radius: 20px;
}
.project-five{
  width: 370px;
  /* background-color: rgb(233, 233, 233); */
  margin: 20px 10px;
  border-radius: 20px;
}
.project-six{
  width: 370px;
  /* background-color: rgb(233, 233, 233); */
  margin: 20px 10px;
  border-radius: 20px;
}
.screenshot{
  object-fit: cover;
  width: 370px;
  object-fit: cover;
  border-radius: 20px;
}
.screenshot:hover{
  box-shadow: 7px 10px 20px 5px orange;
  cursor: pointer;
}
.git h1{
  text-align: center;
  padding: 20px 30px;
}
.git{
  display: flex;
  align-items: center;
  justify-content: center;
}
.git .github{
  width: 400px;
  border-radius: 10%;
  position: absolute;
  height: 300px;
}
.profile{
  text-align: center;
  font-size: 20px;
  padding: 10px 0 40px;
}
.git .git-svg{
  width: 400px;
  border-radius: 10%;
  cursor: pointer;
}
.git .github:hover{
  width: 0;
}
.footer-img{
  width: 100%;
  position: absolute;
  opacity: 0.2;
}
#contact .animated{
  width: 100%;
  height: 200px;
  background-color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-1{
  height: 100px;
  width: 200px;
  background-color: red;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact .animated span{
  color: red;
}
#contact .animated h3,span{
  font-size: 33px;
}

@media (max-width:700px) {
  .nav-list a{
    display: none;
  }
  #about span{
    color: rgb(128, 39, 39);
  }
  .ri-menu-line{
    display: block;
    font-size: 30px;
    background-color: red;
    border-radius: 50%;
    padding: 20px 20px;
    margin-right: 20px;
  }
  #home h1{
    font-size: 8vw;
    padding: 20px 10px;
  }
  #hamburger{
    height: 100%;
    width: 100%;
    background-color: black;
    display: block;
  }
  #nav-section{
    padding: 20px 10px;
  }
  #nav-section .nav-logo img{
    width:140px;
  }
  #home h2{
    font-size: 5vw;
  }
  #home h3{
   
    padding: 10px 10px;
    font-size: 5vw;
  }
  #home .project-img{
    width: 340px;
    padding: 20px 30px;
  }
  #about h1{
    text-align: center;
    font-size: 10vw;
  }
  #about p{
    text-align: center;
    font-size: 19px;
    padding: 20px 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  #about span{
    color: rgb(238, 32, 32)
    
  }
  #about h2{
    text-align: center;
    font-size: 29px;
  }
  #skill-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  #about .loading{
    width: 30px;
    margin-top: 20px;
  }
  #about h1 span{
    font-size: 40px;
  }
  .skill-image img{
    width: 300px;
    padding-top: 20px;
  }
  .icon{
    font-size: 12vw;
    color: rgb(255, 255, 255);
  }
  .check{
    width: 250px;
    height: 100px;
    font-size: 20px;
    border-radius: 20px;
    margin: 20px 20px;
    color: black;
    cursor: pointer;
    background-color: crimson;
    border: none;
  }
  .check:hover{
    box-shadow: 7px 10px 1px 5px;
    padding: 10px;
    background-color: rgb(206, 21, 58);
    border: none;
  }
  .project-one{
    width: 300px;
    /* background-color: rgb(233, 233, 233); */
    margin: 20px 10px;
    border-radius: 20px;
  }
  .project-two{
    width: 300px;
    /* background-color: rgb(233, 233, 233); */
    margin: 20px 10px;
    border-radius: 20px;
  }
  .project-three{
    width: 300px;
    /* background-color: rgb(233, 233, 233); */
    margin: 20px 10px;
    border-radius: 20px;
  }
  .project-four{
    width: 300px;
    /* background-color: rgb(233, 233, 233); */
    margin: 20px 10px;
    border-radius: 20px;
  }
  .project-five{
    width: 300px;
    /* background-color: rgb(233, 233, 233); */
    margin: 20px 10px;
    border-radius: 20px;
  }
  .project-six{
    width: 300px;
    /* background-color: rgb(233, 233, 233); */
    margin: 20px 10px;
    border-radius: 20px;
  }
  .screenshot{
    object-fit: cover;
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
  }

  #contact .animated h3,span{
    font-size: 20px;
  }
}

@media (max-width:600px) {
  .hamburger{
    min-height: 100%;
    width: 100%;
    background-color: black;
  }
  .hamburger{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
  }
  .hamburger .hum{
    font-size: 33px;
    text-decoration: none;
  }  
  .git .github{
    width: 200px;
    border-radius: 10%;
    position: absolute;
    height: 300px;
    display: none;
  }
  .profile{
    text-align: center;
    font-size: 20px;
    padding: 10px 0 40px;
  }
  .git .git-svg{
    width: 290px;
    border-radius: 10%;
    cursor: pointer;
  }
  .skill-image img{
    width: 300px;
    padding-top: 20px;
  }
  .icon{
    font-size: 30vw;
    color: rgb(255, 255, 255);
  }
  .hamburger .close{
    top: 10%;
    left: 80%;
    position: absolute;
    font-size: 50px;
  }
}